{% extends 'pages/base.html' %}

{% load static %}

{% block content %}


<h1>Welcome to your Dashboard!</h1>


{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'login' %}">
                        <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item active"> Dashboard</li>
            </ol>
        </nav>
    </div>
</section>

<section id="dashboard" class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Welcome!</h2>
                <p>Here are the contacts that have been added</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">First Name</th>
                            <th scope="col">Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jackie</td>
                            <td>test@gmail.com</td>
                            <td>
                                <a class="btn btn-light" href="#">View Contact</a>
                                <a class="btn btn-light" href="#">Update Contact</a>
                                <a class="btn btn-light" href="#">Mail Contact</a>
                                <a class="btn btn-light" href="#">Export Contact</a>
                                <a class="btn btn-light" href="#">Delete Contact</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Tanner</td>
                            <td>test2@gmail.com</td>
                            <td>
                                <a class="btn btn-light" href="#">View Contact</a>
                                <a class="btn btn-light" href="#">Update Contact</a>
                                <a class="btn btn-light" href="#">Mail Contact</a>
                                <a class="btn btn-light" href="#">Export Contact</a>
                                <a class="btn btn-light" href="#">Delete Contact</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Kelly</td>
                            <td>test3@gmail.com</td>
                            <td>
                                <a class="btn btn-light" href="#">View Contact</a>
                                <a class="btn btn-light" href="#">Update Contact</a>
                                <a class="btn btn-light" href="#">Mail Contact</a>
                                <a class="btn btn-light" href="#">Export Contact</a>
                                <a class="btn btn-light" href="#">Delete Contact</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- Description -->
<div class="row mb-5">
    <div class="col-md-12">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia recusandae esse reiciendis officia omnis non
        rerum dicta
        cupiditate nostrum molestias deserunt aut minus inventore animi atque, consequuntur ad fugit. Possimus culpa
        blanditiis repellendus ipsa similique ullam, natus error dolor harum.
    </div>
</div>
</div>
<div class="col-md-3">
    <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Create a Contact</button>
    <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Import Contact</button>
</div>
</div>
</div>
</section>

<!-- Inquiry Modal -->
<div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inquiryModalLabel">New Contact</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'contact' %}" method="POST">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                      <input type="hidden" name="user_id" value="{{ user.id }}">
                    {% else %}
                      <input type="hidden" name="user_id" value="0">
                    {% endif %}
                    <input type="hidden" name="realtor_email" value="{{ contact.email }}">
                    <div class="form-group">
                        <label for="first_name" class="col-form-label">First Name:</label>
                        <input type="text" name="first_name" class="form-control" {% if user.is_authenticated %} value="{{ user.first_name }}" {% endif %}} required>
                    </div>
                    <div class="form-group">
                        <label for="last_name" class="col-form-label">Last Name:</label>
                        <input type="text" name="last_name" class="form-control" {% if user.is_authenticated %} value="{{ user.last_name }}" {% endif %}} required>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-form-label">Email:</label>
                        <input type="email" name="email" class="form-control" {% if user.is_authenticated %} value="{{ user.email }}" {% endif %}} required>
                    </div>
                    <div class="form-group">
                        <label for="address_line_1" class="col-form-label">Address Line 1:</label>
                        <input type="text" name="address_line_1" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="address_line_2" class="col-form-label">Address Line 2:</label>
                        <input type="text" name="address_line_2" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="city" class="col-form-label">City:</label>
                        <input type="text" name="city" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="state" class="col-form-label">State:</label>
                        <input type="text" name="state" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="zipcode" class="col-form-label">Zip Code:</label>
                        <input type="text" name="zipcode" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-form-label">Message:</label>
                        <textarea name="message" class="form-control"></textarea>
                    </div>
                    <hr>
                    <input type="submit" value="Send" class="btn btn-block btn-secondary">
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}